<div class="message">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div class="thread-list-item">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
              <div class="panel message-text clearfix">

                <textarea name="message" placeholder="先方にメッセージをご記入ください。" style="overflow: hidden; word-wrap: break-word; resize: none; height: 62px;"></textarea>
                <div class="pull-right">
                  <input type="submit" class="btn btn-primary" value="メッセージを送信" />
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="thread-list-item">
          <div class="row">
            <div class="col-xs-2 col-md-1 text-center">
              <a class="photo-round" href="#">
                <img src="https://a2.muscache.com/ic/users/24725606/profile_pic/1418303411/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=36:*&output-format=jpg&output-quality=70" />
              </a>
            </div>
            <div class="col-xs-8 col-md-10">
              <div class="panel panel-quote-left">
                <div class="message-text">
                    <p>aaaaaaaaa</p>
                    <p>aaaaaaaaa</p>
                    <p>aaaaaaaaa</p>
                    <p>aaaaaaaaa</p>
                </div>
              </div>
            </div>
          </div>
        </div>

       <div class="thread-list-item">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
              <div class="panel panel-quote-right">
                <div class="message-text">
                    <p>aaaaaaaaa</p>
                    <p>aaaaaaaaa</p>
                    <p>aaaaaaaaa</p>
                    <p>aaaaaaaaa</p>
                </div>
              </div>
            </div>
            <div class="col-xs-2 col-md-1 text-center">
              <a class="photo-round" href="#">
                <img src="https://a2.muscache.com/ic/users/24725606/profile_pic/1418303411/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=36:*&output-format=jpg&output-quality=70" />
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
