@charset "UTF-8";
/***************************
* CSSSpriteを生成する
****************************/
/* line 56, logo/*.png */
.logo-sprite, .logo-onecoin-logo1, .logo-onecoin-logo2 {
  background-image: url('/../../images/logo-s54c12e9630.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-onecoin-logo1 {
  background-position: 0 0; }

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-onecoin-logo2 {
  background-position: 0 -84px; }

/***************************
* 共通のスタイル
****************************/
/* line 14, ../src/compass/sass/_common.scss */
body {
  background: #f8f8f8; }

/* line 18, ../src/compass/sass/_common.scss */
textarea {
  border: 1px solid #c4c4c4;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c; }

/* floatによる要素のズレを防止するクラス */
/* line 28, ../src/compass/sass/_common.scss */
.clearfix:after {
  content: " ";
  display: table; }

/* 丸型写真 */
/* line 37, ../src/compass/sass/_common.scss */
.photo-round img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/* line 43, ../src/compass/sass/_common.scss */
.photo-zoom img {
  width: 40px;
  height: 40px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
/* line 48, ../src/compass/sass/_common.scss */
.photo-zoom img:hover {
  width: 45px;
  height: 45px; }

/* パネル */
/* line 57, ../src/compass/sass/_common.scss */
.panel {
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #dce0e0;
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/* 吹き出しパネル（左から） */
/* line 77, ../src/compass/sass/_common.scss */
.panel-quote-left:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: auto;
  border-left: 0;
  top: 15px;
  left: 0px;
  border: 10px solid transparent;
  border-right-color: #dce0e0; }
/* line 83, ../src/compass/sass/_common.scss */
.panel-quote-left:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: auto;
  border-left: 0;
  top: 15px;
  left: 3px;
  border: 9px solid transparent;
  border-right-color: #fff; }

/* 吹き出しパネル（右から） */
/* line 103, ../src/compass/sass/_common.scss */
.panel-quote-right:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: auto;
  border-right: 0;
  top: 15px;
  right: 0px;
  border: 10px solid transparent;
  border-left-color: #dce0e0; }
/* line 109, ../src/compass/sass/_common.scss */
.panel-quote-right:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: auto;
  border-right: 0;
  top: 15px;
  right: 3px;
  border: 9px solid transparent;
  border-left-color: #fff; }

/***************************
* メッセージ画面のスタイル
****************************/
/* line 12, ../src/compass/sass/_message.scss */
.message {
  margin-top: 20px;
  /* 会話の1アイテム */ }
/* line 17, ../src/compass/sass/_message.scss */
.message .thread-list-item {
  margin-top: 20px; }
/* line 20, ../src/compass/sass/_message.scss */
.message .thread-list-item textarea {
  width: 100%; }
/* line 27, ../src/compass/sass/_message.scss */
.message .thread-list-item p.datetime {
  margin: 0;
  font-size: small;
  padding: 0;
  color: silver; }
/* line 33, ../src/compass/sass/_message.scss */
.message .thread-list-item p.datetime a {
  color: silver;
  text-decoration: none; }
/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.message .thread-list-item p.datetime a:hover {
  color: gray; }
