@charset "utf-8";
@import 'compass';

/***************************
* CSSSpriteを生成する
****************************/

@import 'logo/*.png';
@include all-logo-sprites;

// 共通・各ページのスタイルを読み込む

@import 'common';
@import 'header';
@import 'message';

