@charset "utf-8";
@import 'compass';

/***************************
* 共通のスタイル
****************************/

$base-background: #f8f8f8; // 背景色
$input_gray: #c4c4c4; // input要素のボーダー色
$panel_gray: #dce0e0; // パネルのボーダー色
$font_color: #565a5c; // フォントの色
$white: #fff; // パネルの表面色

body{
  background: $base-background;
}

textarea {
  border: 1px solid $input_gray;
  @include border-radius(2px);
  background-color: $white;
  color: $font_color;
}

/* floatによる要素のズレを防止するクラス */

.clearfix {
  &:after{
  	content: " ";
  	display: table;
  }
}

/* 丸型写真 */

.photo-round {
  img { 
  	@include border-radius(50%);
  }
}

/* パネル */

.panel {
  margin: 0 5px;
  padding: 10px;
  border: 1px solid $panel_gray;
  background-color: $white;
  @include border-radius(0);
}

/* 吹き出しパネル（左から） */

@mixin mixin-panel-quote-left {
  content: "";
  display: inline-block;
  position: absolute;
  right: auto;
  border-left: 0;
  top: 15px;
}

.panel-quote-left {
  &:before {
    @include mixin-panel-quote-left;
    left: 0px;
    border: 10px solid transparent;
    border-right-color: $panel_gray;
  }
  &:after {
    @include mixin-panel-quote-left;
    left: 3px;
    border: 9px solid transparent;
    border-right-color: $white;
  }
}

/* 吹き出しパネル（右から） */

@mixin mixin-panel-quote-right {
  content: "";
  display: inline-block;
  position: absolute;
  left: auto;
  border-right: 0;
  top: 15px;
}

.panel-quote-right {
  &:before{
    @include mixin-panel-quote-right;
    right: 0px;
    border: 10px solid transparent;
    border-left-color: $panel_gray;
  }
  &:after{
    @include mixin-panel-quote-right;
    right: 3px;
    border: 9px solid transparent;
    border-left-color: $white;
  }
}
